doctype 1.1

html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  head
 

    //- Favicons
    <!-- webpackIgnore: true -->
    link(rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon")


  body


    #app
      include ./pages/landing.pug
      include ./partials/footer.pug
